<% provide :title, t(".search_post") %>

<h1><%= t ".post_founded" %></h1>

<% if @posts.any? %>
  <ul class="posts">
    <%= render @posts %>
  </ul>
<% end %>

<%= paginate @posts, theme: "twitter-bootstrap-3" %>
