$h2-color: #777;
$footer-link-color: #555;
$footer-link-hover-color: #222;
$logo-color: #fff;
$footer-border-color: #eaeaea;
$form-border-color: #bbb;
$gray-medium-light: #eaeaea;
$border-li-color: #e8e8e8;
$info: #BDE5F8;
$warning: #FEEFB3;
