@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap/theme';
@import 'colors';

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* flash message */

.alert-alert {
  @extend .alert-warning;
}

.alert-notice {
  @extend .alert-info;
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  color: $h2-color;
  font-size: 1.2em;
  font-weight: normal;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  color: $logo-color;
  float: left;
  font-size: 1.7em;
  font-weight: bold;
  letter-spacing: -1px;
  margin-right: 10px;
  padding-top: 9px;
  text-transform: uppercase;
}

#logo:hover {
  color: $logo-color;
  text-decoration: none;
}

/* footer */

footer {
  a {
    color: $gray;

    &:hover {
      color: $gray-darker;
    }
  }

  border-top: 1px solid $footer-border-color;
  color: $gray-light;
  margin-top: 45px;
  padding-top: 5px;

  small {
    float: left;
  }

  ul {
    float: right;

    li {
      float: left;
      margin-left: 15px;
    }

    list-style: none;
  }
}

/* forms */

input,
textarea,
select,
.uneditable-input {
  @include box_sizing;
  border: 1px solid $form-border-color;
  margin-bottom: 15px;
  width: 100%;
}

input {
  height: auto !important;
}

.checkbox {
  margin-top: -10px 0 10px;

  span {
    font-weight: normal;
    margin-left: 20px;
  }
}

#user_remember_me {
  margin-left: 0;
  width: auto;
}

/* side bar */

aside {
  section.user_info {
    margin-top: 20px;
  }

  section {
    margin-top: 20px;
    padding: 10px 0;

    &:first-child {
      border: 0;
      padding-top: 0;
    }

    span {
      display: block;
      line-height: 1;
      margin-bottom: 3px;
    }

    h1 {
      font-size: 1.4em;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
      text-align: left;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;

  li {
    border-bottom: 1px solid $gray-lighter;
    overflow: auto;
    padding: 10px 0;
  }
}

/* forms */

input,
textarea,
select,
.uneditable-input {
  @include box_sizing;
  border: 1px solid $form-border-color;
  margin-bottom: 15px;
  width: 100%;
}

input {
  height: auto !important;
}

.checkbox {
  margin-top: -10px 0 10px;

  span {
    font-weight: normal;
    margin-left: 20px;
  }
}

#user_remember_me {
  margin-left: 0;
  width: auto;
}
