@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap/theme';
@import 'colors';

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* flash message */

.alert-alert {
  @extend .alert-warning;
}

.alert-notice {
  @extend .alert-info;
}

/* universal */

body {
  background-color: Lavender;
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  color: $h2-color;
  font-size: 1.2em;
  font-weight: normal;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  color: $logo-color;
  float: left;
  font-size: 1.7em;
  font-weight: bold;
  letter-spacing: -1px;
  margin-right: 10px;
  padding-top: 9px;
  text-transform: uppercase;
}

#logo:hover {
  color: $logo-color;
  text-decoration: none;
}

/* footer */

footer {
  a {
    color: $gray;

    &:hover {
      color: $gray-darker;
    }
  }

  border-top: 1px solid $footer-border-color;
  color: $gray-light;
  margin-top: 45px;
  padding-top: 5px;

  small {
    float: left;
  }

  ul {
    float: right;

    li {
      float: left;
      margin-left: 15px;
    }

    list-style: none;
  }
}

/* forms */

#error_explanation {
  color: red;

  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;

  .form-control {
    color: $state-danger-text;
  }
}

input,
textarea,
select,
.uneditable-input {
  @include box_sizing;
  border: 1px solid $form-border-color;
  margin-bottom: 15px;
  width: 100%;
}

input {
  height: auto !important;
}

.checkbox {
  margin-top: -10px 0 10px;

  span {
    font-weight: normal;
    margin-left: 20px;
  }
}

.cancel-account {
  clear: both;
  padding-top: 5px;

  .btn-danger {
    white-space: normal;
    width: 100px;
  }
}

#user_remember_me {
  margin-left: 0;
  width: auto;
}

/* side bar */

aside {
  section.user_info {
    margin-top: 20px;
  }

  section {
    margin-top: 20px;
    padding: 10px 0;

    &:first-child {
      border: 0;
      padding-top: 0;
    }

    span {
      display: block;
      line-height: 1;
      margin-bottom: 3px;
    }

    h1 {
      font-size: 1.4em;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
      text-align: left;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;

  li {
    border-bottom: 1px solid $gray-lighter;
    overflow: auto;
    padding: 10px 0;
  }
}

/* posts */

.posts {
  list-style: none;
  padding: 0;

  li {
    border-top: 1px solid #e8e8e8;
    padding: 10px 0;
  }

  .user {
    margin-top: 5em;
    padding-top: 0;
  }

  .title {
    display: block;
    margin-left: 60px;
    color: red;
  }
  .content {
    display: block;
    margin-left: 60px;

    img {
      display: block;
      padding: 5px 0;
    }
  }

  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }

  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;

  input {
    border: 0;
  }
}

/* comments */

.comments-list {
  border-left: 1px groove $gray-medium-light;
  list-style: none;
  margin-top: 5px;
  padding-left: 10px;

  .edit_comment {
    .btn-comment {
      display: none;
    }
  }

  li {
    border-top: 1px solid $logo-color;
    margin-bottom: 15px;
    padding-left: 20px;
  }

  .content {
    overflow-wrap: break-word;
  }
}

.comments-with-form {
  background-color: Lavender;
}
